In [35]:
import pandas as pd
import numpy as np
import re
import requests as req

In [36]:
url = pd.read_html('https://en.wikipedia.org/wiki/List_of_most_valuable_brands')

In [37]:
df=df01 = url[0]
df02 = url[1]
df03 = url[2]

In [38]:
df04 = url[4]

In [39]:
df05 = url[5]

In [41]:
df05

,Rank,Brand,Country,Brand value(US$ millions),Rank.1,Brand.1,Country.1,Brand value(US$ millions).1
0,1,Coca-Cola,United States,72537,11,Marlboro,United States,22110
1,2,Microsoft,United States,70196,12,Mercedes-Benz,Germany,21104
2,3,IBM,United States,53183,13,Hewlett-Packard,United States,20572
3,4,Intel,United States,39048,14,Cisco,United States,20067
4,5,Nokia,Finland,38528,15,Toyota,Japan,18823
5,6,General Electric,United States,38127,16,Citi,United States,18809
6,7,Ford,United States,36368,17,Gillette,United States,17358
7,8,Walt Disney,United States,33553,18,Sony,Japan,16409
8,9,McDonald's,United States,27859,19,American Express,United States,16122
9,10,AT&T,United States,25548,20,Honda,Japan,15244

In [43]:
df05[0:4][['Brand','Country']]

       Brand        Country
0  Coca-Cola  United States
1  Microsoft  United States
2        IBM  United States
3      Intel  United States

In [46]:
df05[4:5]

,Rank,Brand,Country,Brand value(US$ millions),Rank.1,Brand.1,Country.1,Brand value(US$ millions).1
4,5,Nokia,Finland,38528,15,Toyota,Japan,18823

In [47]:
data = pd.read_excel('/content/LF51 - Super Price 16 - (08 December - 21 December) - LEAFLET.xlsx')

In [48]:
data

,PROMO INFORMATION: LF 51 - Super Price 16 - (08 December - 21 December) - LEAFLET,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Sales budget:,33000000,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,COMPLATE INFO,PAGE\nNUMBER,PRODUCT NUMBER,Family Code (Choose),Supplier Code,Order DC or Supplier (Choose),Article Code (Number),Barcode (Number),CC,Sub Family,...,LAST 3 MONTH SALES QTY,Forecast Lealfet period Sales (QTY),Forecast Sales Value,Forecast Margin Value (AZN),"Pallet, Gandola or other (Choose)",Order Date for Supplier (Date),Stores (Choose),Leaflet sonrası qalıq məhsul,Photo For Marketing (+),Note (Any modification)
1,Completed,PAGE 1,1,F01,AZE168,SUPPLIER,469376,21016,AZE16801,4,...,115919,100000,749000,30834.5,Rəf başı 1,05.12.2022,All Stores,Wastage,+,0.55
2,Completed,PAGE 1,2,F08,QUR005,SUPPLIER,222101,1575,QUR00501,141,...,20393,35000,227150,46826.08,Rəf başı 1,05.12.2022,All Stores,Supplier Return,+,3.2
3,Completed,PAGE 1,3,F09,LVI001,DC,588464,28875,LVI00101,172,...,1595.554,20000,269800,30996.0,Rəf başı 1,2022-12-28 00:00:00,All Stores,Wastage,NaN,NaN
4,Completed,PAGE 1,4,F09,QUR005,SUPPLIER,419689,17151,QUR00507,173,...,9525.722,15000,209850,21564.9918,Rəf başı 1,2022-12-28 00:00:00,All Stores,Supplier Return,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN